.benefits {
    padding: 120px 0;
}



.benefits__row {
  display: flex;
  column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item__text {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}
