.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: $white;
  font-size: 14px;
  transition: all 0.2s ease-in;

  &::placeholder {
    color: #bebebe;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.form__privacy {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #e7e7e7;
  text-align: center;

  &--bottom {
    @include tablet {
      grid-row: 4 / 5;
    }
  }
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: #5e5858;
  font-weight: 700;
  text-align: center;
  background: $accent;
  transition: all 0.2s ease-in;

  &:hover {
    background: saturate($accent, 20%);
  }
}
