.info {
  position: relative;
  font-size: 18px;

  &--map,
  &--tel {
    padding-left: 35px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translate(0%, -50%);
      width: 21px;
      height: 21px;
      background-image: url("./../img/header/map.svg");
      background-repeat: no-repeat;
    }
  }


  &--tel::before {
    background-image: url("./../img/header/phone.svg");
  }

  &--map::before {
    background-image: url("./../img/header/map.svg");
  }

  @include tablet-small{
    font-size: 16px;
  }
}
